@import "tailwindcss";

@theme {
  --color-brand-sky: #749fb4;
  --color-brand-orange: #ec8c35;
  --color-brand-navy: #254b5e;
  --color-brand-white: #fff;

  /* 1. Registra la fuente en el tema de Tailwind v4 */
  --font-sans: "Sora Variable", sans-serif;
  --font-mono: "JetBrains Mono Variable", monospace;
}

/* 2. Aplícala al body si es necesario (o Tailwind la aplicará automáticamente al ser font-sans) */
body {
  font-family: var(--font-sans);
}

html {
  scroll-behavior: smooth !important;
}
